<?xml version="1.0"?>
<config>
    <modules>
        <Aoe_Restrictions>
            <version>1.1.0</version>
        </Aoe_Restrictions>
    </modules>
    <global>
        <models>
            <Aoe_Restrictions>
                <class>Aoe_Restrictions_Model</class>
            </Aoe_Restrictions>
        </models>
        <helpers>
            <Aoe_Restrictions>
                <class>Aoe_Restrictions_Helper</class>
            </Aoe_Restrictions>
        </helpers>
    </global>
    <frontend>
        <events>
            <controller_action_predispatch>
                <observers>
                    <Aoe_Restrictions>
                        <class>Aoe_Restrictions/Observer</class>
                        <method>checkRequest</method>
                    </Aoe_Restrictions>
                </observers>
            </controller_action_predispatch>
        </events>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Aoe_Restrictions>
                    <files>
                        <default>Aoe_Restrictions.csv</default>
                    </files>
                </Aoe_Restrictions>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <web>
            <restriction>
                <routes_mode></routes_mode>
                <routes></routes>
                <actions_mode></actions_mode>
                <actions></actions>
            </restriction>
        </web>
    </default>
</config>
