<?xml version="1.0"?>
<config>
    <sections>
        <web>
            <groups>
                <restriction translate="label">
                    <label>Website Restrictions</label>
                    <sort_order>5000</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <routes_mode translate="label">
                            <label>Route Restriction Mode</label>
                            <sort_order>100</sort_order>
                            <frontend_type>select</frontend_type>
                            <source_model>Aoe_Restrictions/Config_Source_Mode</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </routes_mode>
                        <routes translate="label comment">
                            <label>Route Names</label>
                            <comment>Route names separated by a space, new-line, or comma</comment>
                            <sort_order>150</sort_order>
                            <frontend_type>textarea</frontend_type>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </routes>
                        <actions_mode translate="label">
                            <label>Full Action Restriction Mode</label>
                            <sort_order>200</sort_order>
                            <frontend_type>select</frontend_type>
                            <source_model>Aoe_Restrictions/Config_Source_Mode</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </actions_mode>
                        <actions translate="label comment">
                            <label>Full Action Names</label>
                            <comment>Full action names separated by a space, new-line, or comma</comment>
                            <sort_order>250</sort_order>
                            <frontend_type>textarea</frontend_type>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </actions>
                        <http_auth_enable translate="label comment">
                            <label>HTTP Auth</label>
                            <comment>This applies to all routes and actions (not only to the ones matched by the blacklist/whitelist)</comment>
                            <sort_order>300</sort_order>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </http_auth_enable>
                        <http_auth_user translate="label">
                            <label>Username</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>350</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <http_auth_enable>1</http_auth_enable>
                            </depends>
                        </http_auth_user>
                        <http_auth_pass translate="label">
                            <label>Password</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>400</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <http_auth_enable>1</http_auth_enable>
                            </depends>
                        </http_auth_pass>
                    </fields>
                </restriction>
            </groups>
        </web>
    </sections>
</config>
